<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="lib/fontawesome-free-5.14.0-web/css/fontawesome.css" rel="stylesheet">
    <link href="lib/fontawesome-free-5.14.0-web/css/brands.css" rel="stylesheet">
    <link href="lib/fontawesome-free-5.14.0-web/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="lib/icofont/icofont.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <link href="https://allfont.es/allfont.css?fonts=alexandra-script" rel="stylesheet" type="text/css" />
    <link href="lib/owl.carousel/owl.carousel.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="css/inicio1.css" rel="stylesheet">
    <link href="css/inicio2.css" rel="stylesheet">
    <title><%= title %></title>
  </head>
  <body>
    <!-- Navbar -->
    <header id="header" class="fixed-top header-transparent">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xl-11 d-flex align-items-center">
            <a href="/" class="mr-auto"><img src="img/nav-tinyy.png" style="float:left; margin-left:-40px;"></a>
            <nav class="nav-menu d-none d-lg-block">
              <ul>
                <li class="active"><a href="/">inicio</a></li>
                <li><a href="/eventos">Eventos</a></li>
                <li class="drop-down"><a href="/articulos">Articulos</a><!--<i class="fi fi-angle-bottom"></i>-->
                  <ul>
                    <li><a href="/camisas">Camisas</a></li>
                    <li><a href="/termos">Termos</a></li>
                    <li><a href="/invitaciones">Invitaciones</a></li>
                    <li><a href="/globos">Globos</a></li>
                  </ul>
                </li>
                <button class="btn btn-outline-info my-2 my-sm-0" style="margin-left:30px;" type="submit">Iniciar Sesión</button>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header> <!-- Fin del nav -->