<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--recursos para los iconos-->
    <link href="fontawesome-free-5.14.0-web/css/fontawesome.css" rel="stylesheet">
    <link href="fontawesome-free-5.14.0-web/css/brands.css" rel="stylesheet">
    <link href="fontawesome-free-5.14.0-web/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilos.css">
    <!--otros iconos-->
    <link href="icofont/icofont.min.css" rel="stylesheet">
    <!--Archivo CSS-->
    <link href="css/nav.css" rel="stylesheet">
    <style type="text/css">@font-face{font-family: Alesandra; src: url(Alesandra.ttf);}</style>
    <title><%= title %></title>
</head>
<body>
    <!-- Navbar -->
    <header id="header" class="fixed-top header-transparent">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xl-11 d-flex align-items-center">
            <a href="/" class="mr-auto"><img src="img/nav-tinyy.png" style="float:left; margin-left:-40px;"></a>
            <nav class="nav-menu d-none d-lg-block">
              <ul>
                <li class="active"><a href="/">inicio</a></li>
                <li><a href="/eventos">Eventos</a></li>
                <li class="drop-down"><a href="/articulos">Articulos</a>
                  <ul>
                    <li><a href="/camisas">Camisas</a></li>
                    <li><a href="/termos">Termos</a></li>
                    <li><a href="/invitaciones">Invitaciones</a></li>
                    <li><a href="/globos">Globos</a></li>
                  </ul>
                </li>
                <button class="btn btn-outline-info my-2 my-sm-0" style="margin-left:30px;" type="submit">Iniciar Sesión</button>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>