<style type="text/css>@font-face{font-family: titulo;
	src:url(Alesandra.ttf);"}
</style>
body.back{
	background-image: url(1.jpg);
}
div{
	font-family: titulo;
}
h4{font-family: titulo;}
h5{font-family: titulo;}
h3{font-family: titulo;}
h2{font-family: titulo;}
h1{font-family: titulo;}
