<%- include('partials/head') %>

    <div><img src="IMGProyecto/plumascolores02.jpg" alt="plumas"></div>
    <div id="opciones">
        <div><a href="/camisas"><img src="IMGProyecto/camisas.jpeg" alt="camisas"></a></div><br>
        <div><a href="/invitaciones"><img src="IMGProyecto/invitaciones.jpeg" alt="invitaciones"></a></div><br>
        <div><a href="/globos"><img src="IMGProyecto/globos.jpeg" alt="globos"></a></div><br>
        <div><a href="/termos"><img src="IMGProyecto/Termos.jpeg" alt="Termos"></a></div>
    </div><br>
    <%- include('partials/footer') %>