<%- include('partials/headwithoutbr') %>
    <div><img src="IMGProyecto/CAMISAS_INICIAL.jpeg" alt="Inicio"></div>
    <div class="card-group">
        <div class="card">
          <img src="IMGProyecto/camisas1.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Bob Esponja</h5>
            <p class="card-text">Luce en pareja nuestro nuevo diseño con temática de tu personaje favorito. 
              Personaliza tu pedido con nosotros.
            </p>
            <strong>Juvenil - Infantil</strong>
            <a href="#" class="btn btn-outline-info" id="comprar">Comprar</a>
        </div>
        </div>
        <div class="card" id="medio">
          <img src="IMGProyecto/camisas3.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Queen and King</h5>
            <p class="card-text">¡Con nuestro diseño puedes compartir tu outfit favorito con tu pareja! Vamos, no esperes más.</p>
            <strong>Juvenil</strong>
            <a href="#" class="btn btn-outline-info" id="comprar">Comprar</a>
          </div>
        </div>
        <div class="card">
          <img src="IMGProyecto/camisas4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Goku</h5>
            <p class="card-text">Ahora te presentamos nuestro nuevo diseño de tu personaje favorito de Dragon Ball Z. </p>
            <strong>Juvenil - Infantil</strong>
            <a href="#" class="btn btn-outline-info" id="comprar">Comprar</a>
          </div>
        </div>
      </div>
      <div class="card-group">
        <div class="card">
          <img src="IMGProyecto/camisas2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mouse</h5>
            <p class="card-text">También contamos con hermosos diseños para lucirlos en familia, puedes personalizarlo a tu gusto.</p>
            <strong>Familiar</strong>
            <a href="#" class="btn btn-outline-info" id="comprar">Comprar</a>
          </div>
        </div>
        <div class="card" id="medio">
          <img src="IMGProyecto/camisas5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">The Simpsons</h5>
            <p class="card-text">La familia amarilla más querida no podía faltar en nuestros diseños. 
              Diseño para commpartir con la familia.
            </p>
            <strong>Familiar</strong>
            <a href="#" class="btn btn-outline-info" id="comprar">Comprar</a>
          </div>
        </div>
        <div class="card">
          <img src="IMGProyecto/camisas6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Música</h5>
            <p class="card-text">Contamos con diseños para los jovenes. En la actualidad la música los mueve, no te quedes sin la tuya.</p>
            <strong>Juvenil</strong>
            <a href="#" class="btn btn-outline-info" id="comprar">Comprar</a>
          </div>
        </div>
      </div>
      <div class="card-group">
        <div class="card">
          <img src="IMGProyecto/camisas7.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dragon Ball Z - Goku</h5>
            <p class="card-text">¿Porque quedarte sin nuestro nuevo diseño? Ven y personaliza tu camisa favorita.</p>
            <strong>Juvenil - Infantil</strong>
            <a href="#" class="btn btn-outline-info" id="comprar">Comprar</a>
          </div>
        </div>
        <div class="card" id="medio">
          <img src="IMGProyecto/camisas8.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dragon Ball Z - Gohan</h5>
            <p class="card-text">Contamos con diseños para tus pequeños y los jovenes.</p>
            <strong>Juvenil - Infantil</strong>
            <a href="#" class="btn btn-outline-info" id="comprar">Comprar</a>
          </div>
        </div>
        <div class="card">
          <img src="IMGProyecto/camisas9.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dragon Ball Z - Vegeta & Goku</h5>
            <p class="card-text">¿Te quedarás sin la tuya?</p>
            <strong>Juvenil - Infantil</strong>
            <a href="#" class="btn btn-outline-info" id="comprar">Comprar</a>
          </div>
        </div>
      </div><br>
      <%- include('partials/footer') %>