<%- include('partials/headevents') %>

  <div class="container" style="background-color:#f3f3f3;">
  <br>
    <p align="center" class="tipletra" style="font-family:'Alesandra'; font-size:50px;" >BODAS</p>
    <strong><p align="center">No dejes pasar la oportunidad de tener una boda como la has soñado, nuestra experiencia en bodas te da la garantía de que será el momento que durará toda tu vida.</p></strong><br>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_bodas/bod_1.png" width="380px" height="250px" >
      <p align="left">
        <h3>Boda en la playa</h3>
        <span>Marca un maravilloso e inolvidable recuerdo junto a tu pareja con una boda en la playa.</span>
        <span>Te ofrecemos una gran variedad de articulos con los cuales podran marcar un recuerdo eterno de su union de matrimonio.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">40</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <button class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</button>
      <button class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</button>
    </div>
    <!--SEPARACION-->
    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_bodas/bod_2.png" width="380px" height="250px" >
      <p align="left">
        <h3>Boda al aire libre / elegante</h3>
        <span>Marca un maravilloso e inolvidable recuerdo junto a tu pareja con una boda al aire libre.</span>
        <span>Te ofrecemos una gran variedad de articulos con los cuales podran marcar un recuerdo eterno de su union de matrimonio.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">100</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_bodas/bod_3.png" width="380px" height="250px" >
      <p align="left">
        <h3>Boda al aire libre junto al río / elegante</h3>
        <span>Marca un maravilloso e inolvidable recuerdo junto a tu pareja con una boda al aire libre junto al río.</span>
        <span>Te ofrecemos una gran variedad de articulos con los cuales podran marcar un recuerdo eterno de su union de matrimonio.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">300</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_bodas/bod_4.png" width="380px" height="250px" >
      <p align="left">
        <h3>Boda Nocturna</h3>
        <span>Marca un maravilloso e inolvidable recuerdo junto a tu pareja con una boda nocturna.</span>
        <span>Te ofrecemos una gran variedad de articulos con los cuales podran marcar un recuerdo eterno de su union de matrimonio.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">120</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_bodas/bod_5.png" width="380px" height="250px" >
      <p align="left">
        <h3>Boda al aire libre/ sensilla</h3>
        <span>Marca un maravilloso e inolvidable recuerdo junto a tu pareja con una boda al aire libre y sensilla, pero para nada menos significativa.</span>
        <span>Te ofrecemos una gran variedad de articulos con los cuales podran marcar un recuerdo eterno de su union de matrimonio.</span>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">100</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_bodas/bod_6.png" width="380px" height="250px" >
      <p align="left">
        <h3>Boda junto a la piscina</h3>
        <span>Marca un maravilloso e inolvidable recuerdo junto a tu pareja con una boda que cuente con una piscina.</span>
        <span>Te ofrecemos una gran variedad de articulos con los cuales podran marcar un recuerdo eterno de su union de matrimonio.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">45</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>
    <br>
  </div>

    <!--PiedePagina-->
    <%- include('partials/footer') %>