<%- include('partials/headevents') %>
  <div class="container" style="background-color:#f3f3f3;">
  <br>
    <p align="center" class="tipletra" style="font-family:'Alesandra'; font-size:50px;" >GRADUACIONES</p>
    <strong><p align="center">Conocemos el esfuerzo realizado para culminar tu preparación académica, por eso queremos darte la mejor celebración y ser parte de uno de los momentos de tu vida.<br> Nuestros paquetes de graduación cuentan con todo lo que necesitas para pasar un tiempo increíble con tus compañeros, amigos y familiares.</p></strong><br>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_grad/grad_1.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta Salon pequeño / sensilla</h3>
        <span>Festeja tu logro con un evento sensillo pero para nada menos significativo.</span>
        <span>Te ofrecemos una gran variedad de articulos con los cuales podras marcar un buen recuerdo de tu mayor logro hasta la fecha.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">40</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <button class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</button>
      <button class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</button>
    </div>
    <!--SEPARACION-->
    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_grad/grad_2.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta Salon mediano</h3>
        <span>Festeja tu logro con un evento diseñado para un salon mediano pero para nada menos significativo.</span>
        <span>Te ofrecemos una gran variedad de articulos con los cuales podras marcar un buen recuerdo de tu mayor logro hasta la fecha.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">100</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_grad/grad_3.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta Salon grande</h3>
        <span>Festeja tu logro con un evento diseñado para un salon grande como el logro que acavas de cumplir.</span>
        <span>Te ofrecemos una gran variedad de articulos con los cuales podras marcar un buen recuerdo de tu mayor logro hasta la fecha.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">300</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_grad/grad_4.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta Tematica de Globos</h3>
        <span>Festeja tu logro con un evento en el cual los globos son el resaltar de la fiesta pero sin dejar tu logro en segundo plano.</span>
        <span>Te ofrecemos una gran variedad de articulos con los cuales podras marcar un buen recuerdo de tu mayor logro hasta la fecha.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">120</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_grad/grad_5.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta Salon grande</h3>
        <span>Festeja tu logro con un evento diseñado para un salon grande como el logro que acavas de cumplir.</span>
        <span>Te ofrecemos una gran variedad de articulos con los cuales podras marcar un buen recuerdo de tu mayor logro hasta la fecha.</span>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">100</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_grad/grad_6.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta Salon pequeño / elegante</h3>
        <span>Festeja tu logro con un evento sensillo pero para nada menos significativo.</span>
        <span>Te ofrecemos una gran variedad de articulos con los cuales podras marcar un buen recuerdo de tu mayor logro hasta la fecha.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">45</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>
    <br>
  </div>
    <!--PiedePagina-->
    <%- include('partials/footer') %>