<%- include('partials/headevents') %>

  <div class="container" style="background-color:#f3f3f3;">
  <br>
    <p align="center" class="tipletra" style="font-family:'Alesandra'; font-size:50px;" >INFANTILES</p>
    <strong><p align="center">La vida es una fiesta sin fin. En realidad no debe de existir un acontecimiento, puede ser simplemente un día en el que desees reunirte con las personas que estimas para convivir.<br>

    Te ofrecemos una gran variedad de opciones para que ese día sólo te preocupes por pasarla bien.</p></strong>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_inf/prueba1-2.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta Tematica de Dora la exploradora</h3>
        <span>Sorprende a tu hijo con una fiesta tematica de Dora la Exploradora.</span>
        <span>Te ofrecemos una gran variedad de articulos inspirados en el famoso programa de television de Dora para que tu pequeño(a) pueda tener una experiencia inolvidable.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">40</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <button class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</button>
      <button class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</button>
    </div>
    <!--SEPARACION-->
    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_inf/prueba1-3.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta Tematica de Sonic</h3>
        <span>Sorprende a tu hijo con una fiesta tematica de Sonic the Hedgehog</span>
        <span>Te ofrecemos una gran variedad de articulos inspirados en el famoso personaje de videojuegos para que tu pequeño(a) pueda tener una experiencia inolvidable.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">60</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_inf/prueba1-4.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta Tematica de Spider-man</h3>
        <span>Sorprende a tu hijo con una fiesta tematica de Spider-man.</span>
        <span>Te ofrecemos una gran variedad de articulos inspirados en el famoso personaje de marvel para que tu pequeño(a) pueda tener una experiencia inolvidable.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">50</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_inf/prueba1-5.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta Tematica de Toy story</h3>
        <span>Sorprende a tu hijo con una fiesta tematica de Toy story.</span>
        <span>Te ofrecemos una gran variedad de articulos inspirados en el famoso metraje de Toy story para que tu pequeño(a) pueda tener una experiencia inolvidable.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">30</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_inf/prueba1-6.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta Tematica de Mickey mouse</h3>
        <span>Sorprende a tu hijo con una fiesta tematica de Mickey mouse.</span>
        <span>Te ofrecemos una gran variedad de articulos inspirados en el famoso personaje de Disney para que tu pequeño(a) pueda tener una experiencia inolvidable.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">30</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_inf/prueba1-7.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta Tematica de Pocoyo</h3>
        <span>Sorprende a tu hijo con una fiesta tematica del Pocoyo y sus amigos.</span>
        <span>Te ofrecemos una gran variedad de articulos inspirados en el famoso personaje de Pocoyo para que tu pequeño(a) pueda tener una experiencia inolvidable.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">40</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>
    <br>
  </div>
  <%- include('partials/footer') %>