<%- include('partials/headevents') %>

  <div class="container" style="background-color:#f3f3f3;">
  <br>
    <p align="center" class="tipletra" style="font-family:'Alesandra'; font-size:50px;" >XV Años</p>
    <strong><p align="center">El día más anhelado desde que eres pequeña ha llegado, sabemos que todo debe ser perfecto, y tenemos la experiencia en lograr que cada evento lo sea.<br>Materializamos todas tus ideas, ilusiones y sueños en un mismo lugar, nuestro compromiso es hacer inolvidable este evento para ti y tus invitados.</p></strong><br>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_XV/xv_1.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta Tematica de París</h3>
        <span>Ten una fiesta inolvidable para ti y tus invitados con la famosa y elegante tematica de París.</span>
        <span>Te ofrecemos una gran variedad de articulos con los cuales podras marcar un maravilloso recuerdo.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">100</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <button class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</button>
      <button class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</button>
    </div>
    <!--SEPARACION-->
    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_XV/xv_2.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta con luces de Neon</h3>
        <span>Ten una fiesta inolvidable para ti y tus invitados con elementos y luces de Neon.</span>
        <span>Te ofrecemos una gran variedad de articulos con los cuales podras marcar un maravilloso recuerdo.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">100</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_XV/xv_3.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta Salon grande / elegate</h3>
        <span>Ten una fiesta inolvidable para ti y tus invitados con una tematica elegante.</span>
        <span>Te ofrecemos una gran variedad de articulos con los cuales podras marcar un maravilloso recuerdo.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">200</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_XV/xv_4.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta al aire libre</h3>
        <span>Ten un recuerdo inolvidable para ti y tus invitados con tranquila y elegante fiesta al aire libre.</span>
        <span>Te ofrecemos una gran variedad de articulos con los cuales podras marcar un maravilloso recuerdo.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">80</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_XV/xv_5.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta Tematica de Invierno</h3>
        <span>Ten una fiesta inolvidable para ti y tus invitados con la bella y elegante tematica de Invierno.</span>
        <span>Te ofrecemos una gran variedad de articulos con los cuales podras marcar un maravilloso recuerdo.</span>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">120</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>

    <div class="col-offset-md-7 col-md-12 muestra" style="background-color:white;">
      <img class="imag-muestra" src="img/eventos_XV/xv_6.png" width="380px" height="250px" >
      <p align="left">
        <h3>Fiesta Tematica de Casino</h3>
        <span>Ten una fiesta inolvidable para ti y tus invitados con la famosa y elegante tematica de Casino.</span>
        <span>Te ofrecemos una gran variedad de articulos con los cuales podras marcar un maravilloso recuerdo.</span>
      </p>
      <br>
      <div style="float:left; margin-right:10px;"><img src="img/icons/comida-icon.png" style="margin-right:5px;">Si</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/personas-icon.png" style="margin-right:5px;">200</div>
      <div style="float:left; margin-right:10px;"><img src="img/icons/hogar-icon.png" style="margin-right:5px;">Si</div>

      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Comprar</a>
      <a href="" class="btn btn-outline-light btn-success boton-muestra" style="float:right;">Personalizar</a>
    </div>
    <br>
  </div>
    <!--PiedePagina-->
    <%- include('partials/footer') %>