<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	    <link rel="stylesheet" href="css/estilo.css">
		<style>@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
	  			body, h1, h2, h3, h4, h5, h6{
	    			font-family: 'Bree Serif', serif;
	 	 									}
	  	</style>
	</head>
	<body>
		<div class="container">
			<div class="row">
            
		<div class="col-xs-6 letras" style="margin-top: 20px;">
			<h1><img alt="" src="imagenes/logo.png" /> Tiny Designs</h1>
		</div>
		<div class="col-xs-6 text-center" style="width: 450px; margin-left: 295px; margin-top: 20px;">
			<div class="card">
				<div class="card-header">
					<h4>R E C I B O 
					</h4>
				</div>
				<div class="card-body">
					<h2> 
						0&nbsp;0&nbsp;1
					</h2>
				</div>
			</div>
		</div>
 		<h1 style="text-align: center; margin-left: 420px; margin-top: 20px;">FACTURA</h1> 
			
	
		<div class="col-xs-12" style="width: 1140px;">
			<div class="card">
					<div class="card-header text-right">
						<h5>Torreon, 13 de Agosto del 2020</h5>
					</div>
				<div class="card-body" style="display: flex;">
					<h4>NOMBRE :  
						<h4>Nombres y apellidos</h4>
					</h4>
					<h4 style="margin-left: 300px;">REFERENCIA :
						<h4>130040203</h4>
					</h4>
				</div>
			</div>
		</div>
		<div class="card col-xs-12" style="margin-top: 20px; width: 1140px; margin-bottom: 10px;">
			<div class="card-header">
				
			</div>
		</div>
	<table class="table table-bordered">
		<thead >
			<tr >
				<th style="text-align: center;">
					<h4>Cantidad</h4>
				</th>
				<th style="text-align: center;">
					<h4>Concepto</h4>
				</th>
				<th style="text-align: center;">
					<h4>Precio unitario</h4>
				</th>
				<th style="text-align: center;">
					<h4>Total</h4>
				</th>
				
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="text-align: center;">1</td>
				<td>Asesoramiento de inseminaci&oacute;n vacuna</td>
				<td class=" text-right ">28500</td>
				<td class=" text-right ">28500</td>
				
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><a href="#"> &nbsp; </a></td>
				<td class="text-right">&nbsp;</td>
				<td class="text-right ">&nbsp;</td>
				
			</tr>
			<tr >
				<td>&nbsp;</td>
				<td><a href="#"> &nbsp; </a></td>
				<td class="text-right">&nbsp;</td>
				<td class="text-right ">&nbsp;</td>
			</tr>
			<tr >
				<td colspan="3" style="text-align: right;">T o t a l&nbsp;&nbsp;&nbsp;a&nbsp;&nbsp;&nbsp;p a g a r : &nbsp;&nbsp;&nbsp;</td>
				<td class="text-right ">Veinte mil quinientos </td>

			</tr>
		</tbody>
	</table>

	<div class="card col-xs-12" style="margin-top: 10px; width: 1140px; margin-bottom: 10px;">
		<div class="card-header">			
		</div>
	</div>

	<div class="row">
			<div class="col-xs-4">
				<h1><a href=" "><img alt="" src="image/qr.png" /></a></h1>
			</div>
			<div class="col-xs-8">
			
				<div class="panel panel-info"  style="text-align: left;">
					<h6 style="margin-top: 20px; margin-left: 20px;"><b>Nota:</b></h6>
					<ul style="margin-left: 20px;"> 
						<li>
						 &nbsp;&nbsp;Después de haber realizado tu pago, favor de verificar que se haya registrado en la pagina WEB.
						</li>
					</ul>
				</div>
			
		</div>
	</div>
		
</div>
</div>
	</body>
</html>