<%- include('partials/headwithoutbr') %>
    <div><img src="IMGProyecto/GLOBOS_INICIAL.jpeg" alt="Inicio"></div>
    <div class="card-group">
        <div class="card">
          <img src="IMGProyecto/globos1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Happy Birthday Colors</h5>
            <p class="card-text">Si te apetece regalar algo de otro mundo, nosotros te podemos ayudar a impresionar a ese ser querido, contamos con diseños que pueden ayudarte en tu objetivo de alagar a esa persona importante. No te quedes sin el tuyo!</p>
            
            <a href="#" class="btn btn-outline-info">Comprar</a>
        </div>
        </div>
        <div class="card" id="medio">
          <img src="IMGProyecto/globos2.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Columnas</h5>
            <p class="card-text">Si te apetece regalar algo de otro mundo, nosotros te podemos ayudar a impresionar a ese ser querido, 
              contamos con diseños que pueden ayudarte en tu objetivo de alagar a esa persona importante. ¡No te quedes sin el tuyo!</p>
            
            <a href="#" class="btn btn-outline-info">Comprar</a>
          </div>
        </div>
        <div class="card">
          <img src="IMGProyecto/globos3.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Happy Birthday - Colors Metalic</h5>
            <p class="card-text">Si te apetece regalar algo de otro mundo, nosotros te podemos ayudar a impresionar a ese ser querido, 
              contamos con diseños que pueden ayudarte en tu objetivo de alagar a esa persona importante. ¡No te quedes sin el tuyo!</p>
            
            <a href="#" class="btn btn-outline-info">Comprar</a>
          </div>
        </div>
      </div>
      <div class="card-group">
        <div class="card">
          <img src="IMGProyecto/globos 4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Happy Birthday - Transparent</h5>
            <p class="card-text">Si te apetece regalar algo de otro mundo, nosotros te podemos ayudar a impresionar a ese ser querido, contamos con diseños que pueden ayudarte en tu objetivo de alagar a esa persona importante. No te quedes sin el tuyo!</p>
            
            <a href="#" class="btn btn-outline-info">Comprar</a>
          </div>
        </div>
        <div class="card" id="medio">
          <img src="IMGProyecto/globos 6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Circle Colors</h5>
            <p class="card-text">Si te apetece regalar algo de otro mundo, nosotros te podemos ayudar a impresionar a ese ser querido, 
              contamos con diseños que pueden ayudarte en tu objetivo de alagar a esa persona importante. ¡No te quedes sin el tuyo!</p>
            
            <a href="#" class="btn btn-outline-info">Comprar</a>
          </div>
        </div>
        <div class="card">
          <img src="IMGProyecto/globos5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cats Love</h5>
            <p class="card-text">Si te apetece regalar algo de otro mundo, nosotros te podemos ayudar a impresionar a ese ser querido, 
              contamos con diseños que pueden ayudarte en tu objetivo de alagar a esa persona importante. ¡No te quedes sin el tuyo!</p>
            
            <a href="#" class="btn btn-outline-info">Comprar</a>
          </div>
        </div>
      </div>
      <div class="card-group">
        <div class="card">
          <img src="IMGProyecto/globos 7.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Balloons Package</h5>
            <p class="card-text">Si te apetece regalar algo de otro mundo, nosotros te podemos ayudar a impresionar a ese ser querido, 
              contamos con diseños que pueden ayudarte en tu objetivo de alagar a esa persona importante. ¡No te quedes sin el tuyo!</p>
            <a href="#" class="btn btn-outline-info">Comprar</a>
          </div>
        </div>
        <div class="card" id="medio">
          <img src="IMGProyecto/globos_personaliza.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Watercolor</h5>
            <p class="card-text">Si te apetece regalar algo de otro mundo, nosotros te podemos ayudar a impresionar a ese ser querido, 
              contamos con diseños que pueden ayudarte en tu objetivo de alagar a esa persona importante. ¡No te quedes sin el tuyo!</p>
            
            <a href="#" class="btn btn-outline-info">Comprar</a>
          </div>
        </div>
        <div class="card">
          <img src="IMGProyecto/globos8.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Special Colors</h5>
            <p class="card-text">Si te apetece regalar algo de otro mundo, nosotros te podemos ayudar a impresionar a ese ser querido, 
              contamos con diseños que pueden ayudarte en tu objetivo de alagar a esa persona importante. ¡No te quedes sin el tuyo!</p>
            
            <a href="#" class="btn btn-outline-info">Comprar</a>
          </div>
        </div>
      </div><br><br>
      <%- include('partials/footer') %>