<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" width="28" height="28"></script>
        <link rel="stylesheet" href="/css/estilo.css">
        <link href="css/inicio1.css" rel="stylesheet">
        <title>Crear cuenta</title>
    </head>
    <body class="fondo">
        <nav class="navbar navbar-expand blak">
            <a class="navbar-brand" href="/">
                <img src="imagenes/nav-tinyy.png" width="370px;" height="81px;" alt="" loading="lazy" style="margin: -13px; margin-left: -16px;">
            </a>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 620px;">
                <form class="form-inline my-2 my-lg-0">
                    <a class="nav-link rosadas" href="/eventos" >Eventos</a>
                    <a class="nav-link rosadas" href="/articulos" >Artículos</a>
                    
                    <button type="button" class="btn btn-outline-info my-2 my-sm-0 letras" data-toggle="modal" data-target="#ModalCenter" >Iniciar Sesión</button>
                </form>
            </div>
        </nav>
        <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" name="inicio" action="/login">
                                
                                <div class="modal-body">
                                    <img class="img" src="imagenes/avatarx2.png" alt="">
                                    <h2 class="letras">Iniciar sesion</h2>
                                    <div class="form-group row">
                                        <input class="form-control form-control-lg formularios" name="correo" type="email" placeholder="Correo">
                                    </div>
                                    <div class="form-group row">
                                        <input class="form-control form-control-lg formularios" name="pass" type="password" placeholder="Contraseña">
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-info my-2 btn-block boton" style="font-family: Alesandra;">Continuar</button>
                                </div>
                            </form>
                            {{#if message }}
                                <h4 class="alert alert-danger mt-3" style="text-align: center;">{{message}}</h4>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        <div class="post" style="position: absolute;">
            <p class="texto" >¡Organiza y personaliza tus eventos al momento!</p>
        </div>
        <div class="caja" >
            <h2 class="titulo">Registrate</h2>
            <form method="POST" action="/auth/register">
                <div class="form-group">
                    <div class="col-md-8 margenizq">
                        <input id="name" type="text" class="form-control" name="nombre"  placeholder="Nombre completo">
                    </div>
                </div>
                <div class="form-group col-md-8 margenizq " >
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Correo electronico" name="correo">
                </div>
                <div class="form-group col-md-8 margenizq">
                    <input type="text" class="form-control" id="inputPassword4" name="telefono" placeholder="Telefono (Opcional)">
                </div>
                <div class="form-group col-md-8 margenizq">
                    <input type="text" class="form-control" id="inputAddress" name="domicilio" placeholder="Domicilio">
                </div>
                <div class="form-group col-md-8 margenizq">
                    <input type="password" class="form-control" id="inputAddress2" name="pass" placeholder="Contraseña">
                </div>
                <button type="submit" class="btn btn-lg btn-primary col-md-7 margenizq2" style="margin-bottom: 0px;">Registrar</button>
                {{#if message }}
                    <h4 class="alert alert-danger mt-3" style="text-align: center;">{{message}}</h4>
                {{/if}}
                
            </form>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>