<%- include('partials/head') %>
    <div><img src="IMGProyecto/TERMOS_INICIAL.jpeg" alt="Inicio"></div>
    <div class="card-group">
        <div class="card">
          <img src="IMGProyecto/termos1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Medicina</h5>
            <p class="card-text">¿Quieres proporcionar un presente inolvidable? Personaliza con nosotros.</p>

            <a href="#" class="btn btn-outline-info" id="comprar">Comprar</a>
        </div>
        </div>
        <div class="card" id="medio">
          <img src="IMGProyecto/termos6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Star Wars</h5>
            <p class="card-text">¿Quieres proporcionar un presente inolvidable? Personaliza con nosotros.</p>

            <a href="#" class="btn btn-outline-info" id="comprar">Comprar</a>
          </div>
        </div>
        <div class="card">
          <img src="IMGProyecto/termos7.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dragon Ball Z</h5>
            <p class="card-text">¿Quieres proporcionar un presente inolvidable? Personaliza con nosotros.</p>

            <a href="#" class="btn btn-outline-info" id="comprar">Comprar</a>
          </div>
        </div>
      </div>
      <div class="card-group">
        <div class="card">
          <img src="IMGProyecto/termos2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Brillos</h5>
            <p class="card-text">¿Quieres proporcionar un presente inolvidable? Personaliza con nosotros.</p>

            <a href="#" class="btn btn-outline-info" id="comprar">Comprar</a>
          </div>
        </div>
        <div class="card" id="medio">
          <img src="IMGProyecto/termos4.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Friends</h5>
            <p class="card-text">¿Quieres proporcionar un presente inolvidable? Personaliza con nosotros.</p>

            <a href="#" class="btn btn-outline-info" id="comprar">Comprar</a>
          </div>
        </div>
        <div class="card">
          <img src="IMGProyecto/termos9.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sports</h5>
            <p class="card-text">¿Quieres proporcionar un presente inolvidable? Personaliza con nosotros.</p>

            <a href="#" class="btn btn-outline-info" id="comprar">Comprar</a>
          </div>
        </div>
      </div>
      <div class="card-group">
        <div class="card">
          <img src="IMGProyecto/termos3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Anime</h5>
            <p class="card-text">¿Quieres proporcionar un presente inolvidable? Personaliza con nosotros.</p>

            <a href="#" class="btn btn-outline-info" id="comprar">Comprar</a>
          </div>
        </div>
        <div class="card" id="medio">
          <img src="IMGProyecto/termos8.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Marvel</h5>
            <p class="card-text">¿Quieres proporcionar un presente inolvidable? Personaliza con nosotros.</p>

            <a href="#" class="btn btn-outline-info" id="comprar">Comprar</a>
          </div>
        </div>
        <div class="card">
          <img src="IMGProyecto/termos5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mandalas</h5>
            <p class="card-text">¿Quieres proporcionar un presente inolvidable? Personaliza con nosotros.</p>

            <a href="#" class="btn btn-outline-info" id="comprar">Comprar</a>
          </div>
        </div>
      </div><br>
      <%- include('partials/footer') %>