<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="BOOTSTRAP/bootstrap-4.1.1/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="div.css">
    <style type="text/css">@font-face{font-family: titulo;
	src:url(Alesandra.ttf);
	}
	h1{
	font-family: titulo;
	color: #B83568;
	text-align: center;
	margin-top: 50px;
	font-weight: bold;
	font-size: 80px;
	}
	h2{
		font-family: titulo;
		color: #B83568;
		text-align: center;
	}
</style>
	<title>Tiny Design</title>
</head>
<body style="background-image:url('Imagen1.png');">
	<h1>Tiny Design</h1>
	<div id="columnas" ;>
		<div id="contenido" ;>
			<h2>Fiestas Infantiles</h2>
			<img src="cumpleaños.jpg">
		</div>
		<div id="contenido" ;>
			<h2>Graduaciones</h2>
			<img src="graduacion.jpg">
		</div>
		<div id="contenido";>
			<h2>Bautizos</h2>
			<img src="bautizo.jpg" style="width: 1000px; height: 375px">
		</div>
		<div id="contenido";>
			<h2>XV</h2>
			<img src="xv1.jpg">
		</div>
	</div>
	<div id="pie">
		<h2>Atención a clientes</h2>
	</div>
</body>
</html>