@font-face{
  font-family:titulo; src:url(Alesandra.ttf);}

.parte1{
	margin-top: 100px;
	background-image: url(../admin.jpg); 
	width: 1309px; 
	height: 1500px; 
	margin-left: 20px;
}

.parte2{
	margin-top: 100px;
	background-image: url(../2.jpg);
	width: 1309px; 
	height: 1500px; 
	margin-left: 20px;
}

.parte3{
	margin-top: 100px;
	background-image: url(../1.jpg);
	width: 1309px; 
	height: 1500px; 
	margin-left: 20px;
}
.parte4{
	margin-top: 100px;
	width: 1309px; 
	height: 1500px; 
	margin-left: 20px;
	font-family: titulo ;
}
