    <style type="text/css">@font-face{font-family: titulo;
	src:url(Alesandra.ttf);
	}
	nav{
	font-family: titulo;
	text-align: center;
	}
	.title{
		font-family: titulo;
		color: black;
		text-align: center;
	}
	body{
		background-image: url(2.jpg);
	}
	.opacity{
		background-color: #FDFEFE;
		opacity: 0.5; 
	}
	h4{font-family: titulo;}
	h5{font-family: titulo;}
	h3{font-family: titulo;}
	h2{font-family: titulo;}
	h1{font-family: titulo;}
